/.gradle/
/build/
/.idea/
.project
/bin/
.classpath
.settings/org.eclipse.buildship.core.prefs
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.core.resources.prefs
common-lang3.jar
gson-2.6.2.jar
